In [1]:
import csv
import pandas as pd
import time
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/dataset_analgo/dataset analgo.csv'
data = pd.read_csv(file_path)

Mounted at /content/drive

In [8]:
def counting_sort(data, key, ascending=True):
    if not data:
        return []
    if key == 'Total_Harga':
        min_val = min(item[key] for item in data)
        max_val = max(item[key] for item in data)
        count_size = max_val - min_val + 1
        count = [[] for _ in range(count_size)]
        for item in data:
            count[item[key] - min_val].append(item)
        sorted_data = []
        if ascending:
            for i in range(count_size):
                sorted_data.extend(count[i])
        else:
            for i in range(count_size-1, -1, -1):
                sorted_data.extend(count[i])
        return sorted_data

    else:
        unique_values = sorted(list(set(item[key] for item in data)), reverse=not ascending)
        value_to_index = {v: i for i, v in enumerate(unique_values)}
        count = [[] for _ in range(len(unique_values))]
        for item in data:
            count[value_to_index[item[key]]].append(item)
        sorted_data = []
        for bucket in count:
            sorted_data.extend(bucket)
        return sorted_data

In [9]:
def measure_sorting_time(data, key, ascending=True):
    start_time = time.time()
    sorted_data = counting_sort(data, key, ascending)
    end_time = time.time()
    execution_time = end_time - start_time
    return sorted_data, execution_time

In [10]:
def display_data(data, title, limit=10):
    print(f"\n{title}:")
    print(f"{'ID':<10} {'Nama Pelanggan':<30} {'Tanggal Pembelian':<15} {'Jumlah':<6} {'Kategori':<10} {'Harga Satuan':<12} {'Total Harga':<12}")
    print("="*100)
    for item in data[:limit]:
        print(f"{item['ID']:<10} {item['Nama_Pelanggan'][:28]:<30} {item['Tanggal_Pembelian']:<15} {item['Jumlah_Pembelian']:<6} {item['Kategori_Buku']:<10} {item['Harga_Satuan']:<12} {item['Total_Harga']:<12}")

In [11]:
sorted_by_id, time_by_id = measure_sorting_time(data_list, 'ID', ascending=True)
display_data(sorted_by_id, "Data diurutkan berdasarkan ID")
print(f"Waktu eksekusi: {time_by_id:.6f} detik")

Data diurutkan berdasarkan ID:
ID         Nama Pelanggan                 Tanggal Pembelian Jumlah Kategori   Harga Satuan Total Harga
====================================================================================================
TRX000001  Tira Palastri, S.Kom           4/14/2025       6      Non-Fiksi  60000        360000
TRX000002  Elvina Dongoran                10/27/2024      18     Komik      40000        720000
TRX000003  Cut Vicky Utami                11/3/2024       19     Biografi   55000        1045000
TRX000004  drg. Mumpuni Lazuardi, S.T.    2/2/2025        10     Fiksi      50000        500000
TRX000005  Ganep Zulaika                  8/29/2024       3      Biografi   55000        165000
TRX000006  T. Prayoga Nurdiyanti, S.IP    4/27/2025       14     Biografi   55000        770000
TRX000007  Vera Marbun                    7/6/2024        4      Non-Fiksi  60000        240000
TRX000008  Karma Jailani                  7/2/2024        10     Pelajaran  75000        750000
TRX000009  Daryani Zulkarnain             7/28/2024       4      Fiksi      50000        200000
TRX000010  Nilam Budiyanto                9/20/2024       8      Komik      40000        320000
Waktu eksekusi: 0.024963 detik

In [13]:
sorted_by_name, time_by_name = measure_sorting_time(data_list, 'Nama_Pelanggan', ascending=True)
display_data(sorted_by_name, "Data diurutkan berdasarkan Nama Pelanggan")
print(f"Waktu eksekusi: {time_by_name:.6f} detik")

Data diurutkan berdasarkan Nama Pelanggan:
ID         Nama Pelanggan                 Tanggal Pembelian Jumlah Kategori   Harga Satuan Total Harga
====================================================================================================
TRX004227  Abyasa Firgantoro, S.Sos       12/9/2024       13     Fiksi      50000        650000
TRX003516  Abyasa Habibi                  6/13/2024       17     Fiksi      50000        850000
TRX002845  Abyasa Lazuardi                8/25/2024       1      Biografi   55000        55000
TRX004844  Abyasa Prasetyo                2/5/2025        11     Non-Fiksi  60000        660000
TRX009062  Abyasa Purwanti                12/8/2024       4      Fiksi      50000        200000
TRX001520  Abyasa Wibowo                  9/18/2024       2      Fiksi      50000        100000
TRX003090  Abyasa Yulianti                9/2/2024        3      Biografi   55000        165000
TRX008333  Ade Aryani                     2/17/2025       12     Pelajaran  75000        900000
TRX008981  Ade Aryani                     8/20/2024       14     Pelajaran  75000        1050000
TRX000437  Ade Astuti                     6/16/2024       4      Pelajaran  75000        300000
Waktu eksekusi: 0.014658 detik

In [14]:
sorted_by_total_desc, time_by_total_desc = measure_sorting_time(data_list, 'Total_Harga', ascending=False)
display_data(sorted_by_total_desc, "Data diurutkan berdasarkan Total Transaksi (terbesar ke terkecil)")
print(f"Waktu eksekusi: {time_by_total_desc:.6f} detik")

Data diurutkan berdasarkan Total Transaksi (terbesar ke terkecil):
ID         Nama Pelanggan                 Tanggal Pembelian Jumlah Kategori   Harga Satuan Total Harga
====================================================================================================
TRX000094  Hesti Marpaung, M.M.           9/30/2024       20     Pelajaran  75000        1500000
TRX001693  drg. Jelita Sihotang           6/3/2024        20     Pelajaran  75000        1500000
TRX004565  Mursinin Sihombing             1/13/2025       20     Pelajaran  75000        1500000
TRX008176  Janet Nainggolan               10/24/2024      20     Pelajaran  75000        1500000
TRX008054  Perkasa Wahyuni, S.E.I         2/5/2025        20     Pelajaran  75000        1500000
TRX005905  drg. Cinthia Latupono          4/21/2025       20     Pelajaran  75000        1500000
TRX001202  R.A. Yani Aryani               4/25/2025       20     Pelajaran  75000        1500000
TRX009685  Suci Agustina, S.Pd            9/28/2024       20     Pelajaran  75000        1500000
TRX008827  Hilda Latupono                 6/28/2024       20     Pelajaran  75000        1500000
TRX005242  KH. Labuh Permata, S.H.        7/26/2024       20     Pelajaran  75000        1500000
Waktu eksekusi: 1.311954 detik

In [16]:
def save_to_csv(data, filename):
    with open(filename, 'w', newline='') as csvfile:
        fieldnames = ['ID', 'Nama_Pelanggan', 'Tanggal_Pembelian', 'Jumlah_Pembelian',
                     'Kategori_Buku', 'Harga_Satuan', 'Total_Harga']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

        writer.writeheader()
        for item in data:
            writer.writerow(item)

    print(f"Data berhasil disimpan ke {filename}")

# Menyimpan semua hasil pengurutan ke file CSV
save_to_csv(sorted_by_id, "sorted_by_id.csv")
save_to_csv(sorted_by_name, "sorted_by_name.csv")
save_to_csv(sorted_by_total_desc, "sorted_by_total_desc.csv")

Data berhasil disimpan ke sorted_by_id.csv
Data berhasil disimpan ke sorted_by_name.csv
Data berhasil disimpan ke sorted_by_total_desc.csv